
header{
    display: flex;
    justify-content: center;
    border: 1px black solid;
}

main{
    border: 1px black solid;
}

.innehold{
    margin: 2%;
}

footer{
    display: flex;
    justify-content: center;
    border: 1px black solid;
}
footer p{
    margin-top: 4%;
    margin-bottom: 4%;
}